.componentsContainer .component .componentButton {
  vertical-align: top;
  padding: 10px 20px;
  margin: 10px;
  background: #ECF0F1;
  color: #454545;
  text-align: center;
  border: 0;
  border-bottom: 2px solid #DADEDF;
  cursor: pointer;
}
@media (max-width: 599px) {
  .componentsContainer .component .componentButton {
    background: #ECF0C8;
    padding: 20px 10px;
  }
}
.componentsContainer .component .componentButton:hover {
  color: #FFFFFF;
  background: #6099BC;
  border-bottom-color: #3A5C71;
}
@media (max-width: 599px) {
  .componentsContainer .component .componentButton:hover {
    background: #609996;
  }
}
.componentsContainer .component .componentButton:focus {
  outline: none;
}
.componentsContainer .component .componentButton::-moz-focus-inner {
  border: 0;
}
.componentsContainer .component .componentText {
  font-family: Century Gothic, sans-serif;
  padding-right: 100%;
  margin: 0 10px;
}
